mixin base-search-form(pageTitle, path, numbersString, numbersArray, numberFind)
    .container
        h1.text-center.mt-5 #{pageTitle}
        .mt-4
            form(action=`/search/${path}` method="POST")
                label(for="numbers-input") Nhập các số và số cần tìm:
                .row.align-items-center
                    .col-6
                        input(
                            id="numbers-input" 
                            name="numbers_input" 
                            class="form-control" 
                            type="text" 
                            placeholder="Ví dụ: 5, 3, 8, 4, 2"
                            value=numbersString
                        )
                    .col-2
                        input(
                            id="search-input" 
                            name="search_input" 
                            class="form-control" 
                            type="number" 
                            placeholder="Số cần tìm"
                            value=numberFind
                            style="width: 150px;"
                        )
                    .col-2
                        button.btn.btn-secondary#random-button(type="button") Ngẫu nhiên
                button.btn.btn-secondary.mt-3(type="submit") Xác nhận
        .mt-4
            #visualization
                if numberFind == null || numberFind == ""
                    h4.text-center Nhập vào số cần tìm
                else
                    .blockFind= numberFind

                if numbersArray && numbersArray.length > 0
                    each number in numbersArray
                        .block= number
                else
                    h4.text-center Nhập vào các số cần tìm kiếm

    script(src="/event/random-search-button.js")
